@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jays challenge assignment</h1>

    <h2>The current server time is : </h2>
    <p>@DateTime.Now</p>

    <p>
        This challenge presented with an oppurtunity for me to learn about multiple .net core or framework capabilities
    </p>
    <p>
        The concepts explored as part of this challenge assignment is listed below. 
    </p>
       
    <h2>CONCEPTS EXPLORED</h2>
    
    
        <ul>
            <li>
                DateTime.Now
            </li>
            <li>
                EventHandler
            </li>
            <li>
                Handler Methods
            </li>
            <li>
                void
            </li>
        </ul>

    
</div>
